body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  margin: unset;
  font-weight: unset;
  list-style: unset;
}

a, a:hover {
  text-decoration: unset;
  color: unset;
}

.title {

  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: $black;

  @include laptop {
    font-size: 28px;
    line-height: 32px;
  }

  @include tablet {
    font-size: 24px;
    line-height: 30px;
  }

  @include phone {
    font-size: 20px;
    line-height: 24px;
  }

}

.subtitle {

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 34px;

  @include tablet {
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
  }

}

.submit-btn {

  background: $red;
  display: flex;
  font-weight: 500;
  font-size: 15px;
  color: $white;
  height: 46px;
  border-radius: 30px;
  max-width: 100%;
  text-align: center;
  width: max-content;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;

  &:focus, &:active {
    outline: none;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
    background: $red-gradient;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &_big {

    background: $red-gradient;
    height: 50px;

    &:hover:not(:disabled) {
      background: $red;
    }

  }

  &_wide {
    width: 100%;
  }

  &_inverse {

    background: transparent;
    border: 2px solid $red;
    color: $black;

    &:hover {
      background: $red-gradient;
      color: $white;
    }

  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 13px;
  }

}

.field {

  &__label {
    font-size: 14px;
    line-height: 17px;
    padding-left: 15px;
    margin-bottom: 7px;
  }

  &__input {

    height: 50px;
    border-radius: 25px;
    background: $white;
    border: none;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    color: $black;
    padding: 0 25px;
    font-family: 'Montserrat', sans-serif;

    &:focus, &:active {
      outline: none;
    }

  }

}

.flickity-enabled {

  @include tablet {
    padding-top: 80px;
  }

  .flickity-prev-next-button {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $red;
    color: $white;

    &.previous {
      left: calc(-50px - 12px);
    }

    &.next {
      right: calc(-50px - 12px);
    }

    @media (max-width: 1299.98px) {

      &.previous {
        left: 0;
      }

      &.next {
        right: 0;
      }

    }

    @media (max-width: 767.98px) {

      top: 0;
      transform: none;

      &.previous {
        left: calc(50% - 60px);
      }

      &.next {
        right: calc(50% - 60px);
      }

    }

    .flickity-button-icon {
      width: 15px;
      height: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background: $red-gradient
    }

    &:active {
      background: $orange-gradient;
      opacity: 1;
    }

    &:disabled {
      opacity: .3;
      background: $red;
      color: $white;
    }

  }

}

.fancybox-button.fancybox-close-small {
  display: none;
}

.fancybox-slide {
  padding-top: 50px;
  padding-bottom: 50px;
}