.hero {

    background: url("img/hero/bg.png") top center no-repeat;
    background-size: 100vw auto;
    padding-top: 156px;
    padding-bottom: 70px;
    min-height: (100 / 7 * 4) + vw;

    @include laptop {
        min-height: unset;
        height: auto;
        padding-top: 0;
        background: none;
        padding-bottom: 40px;
    }

    &__title {

        padding-bottom: 20px;
        border-bottom: 2px solid $red;
        text-transform: uppercase;

        @include laptop {
            margin-top: 40px;
            text-align: center;
        }

    }

    &__subtitle {

        margin-top: 29px;

        @include laptop {
            text-align: center;
        }

    }

    &__list {

        margin-top: 72px;

        @include laptop {
            margin-top: 52px;
        }

    }

    &__submit-btn {

        margin-top: 94px;

        @include laptop {
            margin-top: 40px;
            text-align: left;
        }

    }

    &__mobile-image {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}