.modal {

  width: 730px;
  background: #FFF9F0;
  border-radius: 10px;
  padding: 50px 250px 50px 70px;
  position: relative;
  overflow: visible;
  max-width: 100%;

  @include tablet {
    padding: 60px 15px 50px;
  }

  &_small {

    width: 510px;
    padding-right: 70px;

    @include tablet {
      padding-right: 15px;
    }

  }

  &__close {

    position: absolute;
    z-index: 2;
    top: -18px;
    right: -20px;

    @include laptop {
      top: 20px;
      right: 18px;
    }

  }

  &__fields {

    margin-top: 20px;
    width: 350px;
    max-width: 100%;

    @include tablet {
      margin-top: 30px;
    }

  }

  &__field {
    margin-bottom: 20px;
  }

  &__submit {
    margin-top: 30px;
  }

  &__policy {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $black;
    opacity: 0.7;
  }

  &__image {

    position: absolute;
    top: 55px;
    left: 480px;

    @include laptop {
      display: none;
    }

  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    color: $black;
  }

}