.products {

    margin-top: 44px;
    padding-top: 100px;
    background: url("img/products/bg.svg") top center no-repeat;
    background-size: 100vw auto;

    @include tablet {
        margin-top: 0;
        padding-top: 60px;
    }

    &__tabs {
        margin-top: 34px;
    }

    &__tabs-content {

        margin-top: 50px;

        @include tablet {
            margin-top: 30px;
        }

    }

    &__list {

        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 23px;
        grid-row-gap: 33px;

        @include laptop {
            grid-template-columns: 1fr;
        }

    }

}

.tabs {

    border-bottom: 2px solid rgba(189, 189, 198, .6);

    @include laptop {
        flex-wrap: nowrap;
        overflow-y: auto;
    }

    &__item {

        text-align: center;
        text-decoration: none;
        color: $black;
        padding-bottom: 32px;

        &.active {
            border-bottom: 4px solid $red;
            margin-bottom: -2px;
            padding-bottom: 30px;
            color: $red;
        }

    }

    &__image {
        height: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-top: 15px;
        display: block;
    }

    &__description {
        font-weight: 300;
        font-size: 13px;
        line-height: 22px;
        margin-top: 5px;
        display: block;
    }

    &__tabs-content {
        margin-top: 50px;
    }

}

.card-container {
    height: 100%;
    position: relative;
}

.card {

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 50px 30px;
    background: $white;
    color: $black;
    height: 100%;
    width: 100%;

    @include tablet {
        padding: 20px 15px 25px;
    }

    &__header {
        display: flex;
        align-items: start;
        padding-bottom: 22px;
        border-bottom: 2px solid $red;
    }

    &__image {

        width: 71px;
        height: auto;
        margin-right: 30px;
        flex-shrink: 0;

        @include tablet {
            margin-right: 16px;
        }

    }

    &__title {

        font-weight: bold;
        font-size: 20px;
        line-height: 36px;
        margin-top: 23px;

        @include tablet {
            font-size: 18px;
            line-height: 28px;
            margin-top: 10px;
        }

    }

    &__content {
        margin-top: 19px;
    }

    &__hidden {
        display: none;
    }

    &__bonuses {

        background: $orange-gradient-2;
        color: $white;
        margin-left: -50px;
        padding: 20px 57px 30px 65px;
        position: relative;

        @include tablet {
            margin-left: -15px;
            margin-right: -15px;
            padding: 20px 15px 30px 37px;
        }

    }

    &__bonus {

        font-weight: 500;
        font-size: 16px;
        line-height: 22px;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }

        &-angle {
            width: 35px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }

    }

    &__total {
        margin-top: 20px;
        display: flex;
    }

    &__buttons {
        margin-right: 34px;
    }

    &__button {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__price {
        font-weight: bold;
        font-size: 20px;
        line-height: 46px;
        color: $black;

        &:not(:last-child) {

            margin-bottom: 15px;

            @include phone {
                margin-bottom: 0;
            }

        }

    }

    &:hover {

        background: #FFF9F0;
        box-shadow: 0 0 20px rgba(224, 99, 20, 0.3);
        position: absolute;
        z-index: 2;
        height: auto;

        .card__hidden {
            display: block;
        }

    }

}