.products {

    margin-top: 44px;
    padding-top: 100px;
    background: url("img/products/bg.svg") top center no-repeat;
    background-size: 100vw auto;

    &__tabs {
        margin-top: 34px;
    }

    &__tabs-content {
        margin-top: 50px;
    }

    &__list {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 23px;
        grid-row-gap: 33px;
    }

}

.tabs {

    border-bottom: 2px solid rgba(189, 189, 198, .6);

    &__item {

        text-align: center;
        text-decoration: none;
        color: $black;
        padding-bottom: 32px;

        &.active {
            border-bottom: 4px solid $red;
            margin-bottom: -2px;
            padding-bottom: 30px;
            color: $red;
        }

    }

    &__image {
        height: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-top: 15px;
        display: block;
    }

    &__description {
        font-weight: 300;
        font-size: 13px;
        line-height: 22px;
        margin-top: 5px;
        display: block;
    }

    &__tabs-content {
        margin-top: 50px;
    }

}

.card-container {
    height: 100%;
    position: relative;
}

.card {

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 50px 30px;
    background: $white;
    color: $black;
    height: 100%;

    &:hover {
        background: #FFF9F0;
        box-shadow: 0 0 20px rgba(224, 99, 20, 0.3);
        position: absolute;
        z-index: 2;
        height: 700px;
    }

    &__header {
        display: flex;
        align-items: start;
        padding-bottom: 22px;
        border-bottom: 2px solid $red;
    }

    &__image {
        width: 71px;
        height: auto;
        margin-right: 30px;
        flex-shrink: 0;
    }

    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 36px;
        margin-top: 23px;
    }

    &__content {
        margin-top: 19px;
    }

}