.trust {

  margin-top: 50px;

  &__title {
    @include tablet {
      text-align: center;
    }
  }

  &__subtitle {
    @include tablet {
      text-align: center;
    }
  }

  &__slider {

    margin-top: 50px;

    @media (max-width: 1299.98px) {
      padding-left: calc(50px + 12px);
      padding-right: calc(50px + 12px);
    }

    @include tablet {
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
    }

  }

  &__partner {

    width: 25%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    min-height: 100%;

    @include laptop {
      width: 210px;
    }

  }

  &__logo {
    height: auto;
    max-width: 100%;
  }

}