$white: #fff;
$black: #222222;
$red: #E2474B;
$red-gradient: linear-gradient(180deg, #E2474B 0%, #BA0F13 100%);
$orange-gradient: linear-gradient(47.07deg, #E06314 11.45%, #FFC87B 77.85%);
$orange-gradient-2: linear-gradient(40.89deg, #E06314 10.57%, #F4AA42 91.35%);